# Python cache
**/__pycache__/
**/*.py[cod]

# Virtual environments
**/.venv/
**/venv/
**/env/

# Environment files
**/.env
**/.env.*

# Output folders starting with "out"
**/out*/

# Python caches/tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/
**/stage2_outputs/

